<ul id="presentations">
<% @presentations.each do |presentation| %>
  <li class="presentation">
    <a href='<%= "p/#{presentation[:folder]}" %>/'><%= presentation[:title] %></a>
  </li>
<% end %>
</ul>
